@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100&display=swap');

/*resets browser styling to nill*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*styling the container that holds button*/
.pokemon-list {
    /* margin-top: 80px; */
    text-align: right;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0 10px 0 #999; 
    padding: 15px 0px;
    border-radius: 5px;
    column-count: 2;
    z-index: 1;
}

.background-img {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: scroll;
    position: fixed;
}

.listItem {
    display: none;
    column-count: 20;
}

/*removing dots from ul list*/
ul {
    list-style-type: none;
}

.button {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 15px 15px;
    text-transform: uppercase;
    background-color: rgb(230, 230, 230);
    margin: 5px;
    width: 70%;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family: 'Lilita One', cursive;
}

.button:hover {
    background-color: aliceblue;
    transition: .3s ease;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

.h1 {
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    text-transform: uppercase;
}

.p {
    padding-top: 30px;
    font-size: 20px;
}

.modal-types {
    padding-top: 30px;
    font-size: 20px;
    padding-top: 0px;
}

.modal-img {
    width: 200px;
    height: 200px;
}

.modal-close {
    border: none;
    background: white;
    float: right;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.modal-close:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15%;
}








/*START responsive css for desktop*/
@media only screen and (min-width: 1200px) {

}
/*END responsive css for desktop*/

