@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100&display=swap');

/*resets browser styling to nill*/
/* GLOBAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR STYLING */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(52, 48, 48);
    color: #fff;
}

.home {
    position: fixed;
    left: 45px;
    top: 15px;
    align-items: center;
    color: rgb(206, 218, 228); 
    font-size: 30px;
    transition: .25s ease;
    font-family: 'Lilita One', cursive;
}

.home:hover {
    font-size: 31px;
    transition: .25s ease;
    position: fixed;
    color: rgb(242, 246, 249);
    text-decoration: underline;
}

.github {
    position: fixed;
    right: 45px;
    top: 15px;
    align-items: center;
    color: rgb(206, 218, 228); 
    font-size: 30px;
    transition: .25s ease;
    font-family: 'Lilita One', cursive;
}

.github:hover {
    font-size: 31px;
    transition: .25s ease;
    position: fixed;
    color: rgb(242, 246, 249);
    text-decoration: underline;
}

.search {
    background-color: rgb(206, 218, 228);
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    /* all: unset resets browser settings for search bar input styling */
    all: unset;
    font: 16px system-ui;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

/* changes the syling of the placeholder text */
::placeholder {
    color: #000;
    opacity: 0.7;
}

.pokemon-img {
    margin-left: 30px;
    height: 45px;
    width: 45px;
}

/*styling the container that holds button*/
.pokemon-list {
    margin-top: 70px;
    text-align: right;
    /* border: 1px solid black; */
    /* box-shadow: 0 0 10px 0 #999; */
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px 0px;
    border-radius: 5px;
    column-count: 2;
    z-index: 1;
}

.background-img {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: scroll;
    position: fixed;
    top: 0;
    opacity: 60%;
}

.listItem {
    display: none;
    column-count: 20;
}

/*removing dots from ul list*/
ul {
    list-style-type: none;
}

.button {
    border: 2.5px solid rgb(206, 218, 228);;
    border-radius: 10px;
    padding: 15px 15px;
    text-transform: uppercase;
    background-color: rgb(52, 48, 48);
    /* background-color: rgb(230, 230, 230); */
    margin: 5px;
    width: 70%;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family: 'Lilita One', cursive;
    color: white;
    opacity: 95%;
}

.button:hover {
    background-color: rgb(206, 218, 228);
    transition: .25s ease;
    opacity: 100%;
    color: black;
}

#modal-container {
    display: none;
    transition-duration: 0.8s;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    opacity: 95%;
}

.h1 {
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    text-transform: uppercase;
}

.p {
    padding-top: 30px;
    font-size: 20px;
}

.modal-types {
    padding-top: 30px;
    font-size: 20px;
    padding-top: 0px;
}

.modal-img {
    width: 200px;
    height: 200px;
}

.modal-close {
    border: none;
    background-color: rgb(230, 230, 230);
    float: right;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.modal-close:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15%;
}


/*START responsive css for phones*/
@media only screen and (max-width: 480px) {
    .pokemon-list {
        text-align: right;
        border: 1px solid black;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 0 0 10px 0 #999; 
        padding: 15px 0px;
        border-radius: 5px;
        column-count: 1;
        z-index: 1;
        overflow: hidden;
    }

    .modal {
        margin: auto;
        display: inline-block;
        box-sizing: border-box;
        background-color: rgb(230, 230, 230);
        padding: 10px;
        width: 100%;
        max-width: 400px;
        text-align: center;
        justify-content: center;
        font-family: 'Lilita One', cursive;
        opacity: 93%;
    }

    .background-img {
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-attachment: scroll;
        position: fixed;
        top: 0;
        opacity: 80%;
    }
}


